a.google1:link{
    color: rgb(17, 0, 255);
}
a.google1:visited{
    color: rgb(234, 0, 255);
}
a.google1:hover{
    color: rgb(18, 204, 65);
}
a.google1:active{
    color: rgb(255, 145, 0);
}
.div1{
    background-color: rgb(253, 177, 243);
    text-align: center;
    padding-top: 10px;
}
.tool1{
    display: none;
}
.div1:hover .tool1{
    display: block;
    background-color: rgb(218, 152, 248);
    padding: 5px;
}
p:first-child {
    background-color: aqua;
}
p i:first-child{
    background-color: rgb(248, 247, 186);
}
p:first-child i{
    color: rgb(255, 0, 0);
}