body{
    margin: 0;
}
ul.sidenav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: rgb(129, 61, 255);
    width: 25%;
    height: 100%;
    position: fixed;
}
ul.sidenav li a{
    display: block;
    padding: 10px 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}
ul.sidenav li a:hover:not(.active){
    background-color:rgb(158, 106, 255);
}
ul.sidenav li a.active{
    background-color: rgb(89, 16, 226);;
}
.content{
    margin-left: 25%;
    padding: 1px 10px;
}
@media screen and (max-width:1000px) {
    ul.sidenav{
        position: relative;
        width: 100%;
        height: auto;
    }
    ul.sidenav li{ 
        float: left;
    }
    ul.sidenav li.fright{
        float: right;
    }
    .content{
        margin-left: 0;
    }
}
@media screen and (max-width:600px){
    ul.sidenav li, ul.sidenav li.fright{
        float: none;
        text-align: center;
    }
}